<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.box.small.adminScheduleMapper">

	<!-- 전체 영화 일정 -->
	<select id="selectAllSchedule" resultType = "com.box.small.user.schedule.ScheduleDto">
		select * from schedule
	</select>
	
	<!-- 영화일정 추가 -->
	<insert id="insertSchedule">
		insert into schedule
		(sch_no,mo_no,sc_no,sch_status,sch_date,sch_startTime,sch_endTime)
		values
		(#{sch_no},#{mo_no'},#{sc_no},#{sch_status},#{sch_date},#{sch_startTime},#{sch_endTime})
	</insert>

	<!-- 영화일정 삭제 -->
	<update id="deleteSchedule">
		update schedule
		set sch_status = 0
		where sch_no = #{sch_no}
	</update>

	<!-- 영화일정 수정 -->
	<update id="updateSchedule">
		update schedule
		set mo_no = #{mo_no}, sc_no = #{sc_no}, sch_status = #{sch_status}, sch_date = #{sch_date}, sch_startTime = #{sch_startTime}, sch_endTime = #{sch_endTime}
		where sch_no = #{sch_no}
	</update>

</mapper>