<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.box.small.mappers.reviewMapper">

    <!-- 모든 리뷰 조회 -->
    <select id="reviewAll" resultType="com.box.small.user.review.ReviewDto" parameterType="com.box.small.user.movie.MovieDto">
        SELECT * FROM review where mo_no = ${mo_no}
    </select>

    <!-- 리뷰 추가 -->
    <insert id="createReview" parameterType="com.box.small.user.review.ReviewDto">
        INSERT INTO review (rev_content, rev_createdAt, rev_rating, rev_status, mo_id, mem_id)
        VALUES (#{revContent}, #{revCreatedAt}, #{revRating}, #{revStatus}, #{moId}, #{memId})
    </insert>

    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="com.box.small.user.review.ReviewDto">
        UPDATE review
        SET rev_content = #{rev_content},
        rev_createdat = #{rev_createdAt},
        rev_rating = #{rev_rating},
        rev_status = #{rev_status},
        mo_id = #{mo_id},
        mem_id = #{mem_id}
        WHERE _rev_id = #{rev_id}

    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="int">
        UPDATE review
        SET rev_status = 0
        WHERE rev_id = #{rev_Id}
    </delete>
</mapper>