/* 리뷰 작성 폼 별점 */
#star-rating {
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: gray; /* 기본 색상 */
}

.star.selected {
    color: gold; /* 선택된 별 색상 */
}

/* 수정 폼 별점 */
#star-ratingUpdate {
    font-size: 24px; /* 별점 크기 */
    cursor: pointer; /* 커서 포인터 설정 */
}

.starUpdate {
    color: gray; /* 기본 색상 */
}

.starUpdate.selectedUpdate {
    color: gold; /* 선택된 별 색상 */
}

#reviewForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#reviewForm > div:first-child{
    display: flex;
    width: 82%;
}

#reviewForm h3 {
    align-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

#reviewForm > div:last-child{
    display: flex;
    width: 18%;
}

#rev_content {
    width: calc(100% - 70px);
}

.review-item-box{
    width: 1080px;
    margin: 0 auto;
}

