@charset "utf-8";

/* 레이아웃 */
#header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #c6c6c6;
  background: rgba(0, 0, 0, 0);
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

/* 로우 영역 */
.row {
  padding: 0 24px;
}

/* 헤더 영역 */
.header {
    width: 100%;
}
.header h1 {
  float: left;
}
.header h1 em {
  padding: 10px 8px 5px 0;
  display: inline-block;
}
.header h1 em img {
  width: 155px;
}
.header h1 strong {
  display: block;
  position: absolute;
  left: 194px;
  top: 23px;
}
.header h1 strong img {
  width: 126px;
}
.header .nav {
  float: right;
}
.header .nav ul {
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  float: left;
  width: 103px;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 15px;
  font-weight: 700;
  color: #444;
}

.header .nav ul li a:hover {
  color: #d8c8bd;
}


input[readonly] {
   background-color: #fff !important;
}

.content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container h2 {
/* text-align: center; */
font-size: 2rem;
}

.border {
border: 1px solid black;
}

.box {
display: flex;
padding: 20px;
}

.box label {
margin-right: 10px;
width: 50px;
}

.float {
float: left;
width: 25%;
padding: 10px;
box-sizing: border-box;
}

.float_form:after {
content: "";
display: block;
clear: both;
}

.block {
float: left;
display: block;
}

.heihgt {
height: 200px;
}

.diviContainer {
display: flex;
}

.rem_1 {
margin-top: 3rem;
padding-left: 0;
}

.rem_2 {
margin-top: 3rem;
padding-right: 0;
}
/* content */

/* footer */
footer {
  background-color: #a78c7b;
}
.footer_row {
  display: flex;
  justify-content: space-between;
}
.footer_infor address p {
  color: #d8c8bd;
  padding-bottom: 15px;
}

.footer_infor {
  display: flex;
  flex-direction: column;
}

.footer_infor ul {
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
}

.footer_infor ul li {
  padding: 0 0.5rem 0 0.5rem;
  border-left: 1px solid #d8c8bd;
}

.footer_infor ul li a {
  color: #d8c8bd;
}

.footer_infor ul li a:hover {
  color: #fff;
}

.footer_infor ul li:first-child {
  border-left: 0;
  padding: 0 0.5rem 0 0;
}

.footer_sns {
  right: 10%;
  top: 33px;
  z-index: 1;
}
.footer_sns li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 4px;
}

.tel a {
  color: #d8c8bd;
  margin-left: 4px;
  font-size: 1.5rem;
}

.ir_pm {
  /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.em {
    color : #fff-fff;
}

.footer_sns li.s1 {
  background-position: 0 -375px;
}
.footer_sns li.s2 {
  background-position: -36px -375px;
}
.footer_sns li.s3 {
  background-position: -72px -375px;
}
.footer_sns li.s4 {
  background-position: -108px -375px;
}
.footer_sns li.s5 {
  background-position: -144px -375px;
}
.footer_sns li.s1:hover {
  background-position: 0 -411px;
}
.footer_sns li.s2:hover {
  background-position: -36px -411px;
}
.footer_sns li.s3:hover {
  background-position: -72px -411px;
}
.footer_sns li.s4:hover {
  background-position: -108px -411px;
}
.footer_sns li.s5:hover {
  background-position: -144px -411px;
}

/*  로그인, 회원가입 */
.user-form{
    width: 420px;
    padding: 40px 0 100px;
}
.user-form h2{
    margin-bottom: 40px;
    text-align: center;
}
.user-form form{
    width: 100%;
}
.user-form form input{
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
}
.login-form input[type="submit"]{
    font-size: 16px;
    background: #d8c8bd;
}
.login-btn:after{
    content: "";
    display: block;
    clear: both;
}
.login-btn a:first-child{
    float: left;
}
.login-btn a:last-child{
    float: right;
}
.join-form .red{
    color: #e47e3e;
}
.join-btn button{
    width: 100%;
    padding: 13px 20px;
    margin-top: 10px;
    font-size: 16px;
    background: #d8c8bd;
}

/* 영화 리뷰 리스트 */
.move-review{
    padding: 40px 0 60px;
}
.move-review h1{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
}
.move-review table{
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.move-review table th{
    padding: 10px 0;
    background: #d8c8bd;
}
.move-review table td{
    padding: 10px 5px;
}

/* 아이디 찾기 */
.getBy-form{
    display: flex;
    width: 100%;
    margin: 60px -15px;
}
.getBy-form > div{
    flex: 0 0 50%;
    padding: 0 15px;
}
.getBy-form input{
    width: 100%;
}
